= content_for :site_heading do
  %h1 Lava Maker
  %hr.small
  %span.subheading Melt -> Craft -> Restart

.row
  .col-sm-4
    %img.img-circle.img-responsive.img-center(src="http://placehold.it/300x300" alt="")
    %h2.text-center Recycling
    %p.text-justify Do your part to save the planet. Instead of throwing old plastic away, simply reuse it.
  .col-sm-4
    %img.img-circle.img-responsive.img-center{:alt => "", :src => "http://placehold.it/300x300"}
    %h2.text-center Ran out of filament?
    %p.text-justify Never again with !insert product name here! :P We really need a product name.
  .col-sm-4
    %img.img-circle.img-responsive.img-center{:alt => "", :src => "http://placehold.it/300x300"}
    %h2.text-center Save Money
    %p.text-justify And why can't you buy a tenth of a spool of filament? And don't even get me started on the shipping costs.


