


= link_to 'Login', new_founder_session_path, class: 'btn btn-success'
= link_to 'Sign Up', new_founder_registration_path, class: 'btn btn-info'
= link_to 'Edit My User', edit_founder_registration_path, class: 'btn btn-info'
= link_to 'Logout', destroy_founder_session_path, method: 'delete', class: 'btn btn-danger'

%p There will be more stuff here, all the blog admin stuff too..
