%footer
  .container
    .row
      .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
        %p.copyright.text-muted Copyright &copy; Lava 2015
    .row
      .text-right.text-muted
        = link_to "admin-area", admin_area_path, class: 'btn'